{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Import Translations Import" %}
{% set selectedSubnavItem = 'create' %}

{% set content %}

    {% if craft.app.session.getFlash('cp-error') %}
        <div class="pane">
            <p class="error">
                {{ craft.app.session.getFlash('cp-error') }}
            </p>
        </div>
        {% set old = craft.app.session.get('columns') %}
    {% endif %}

    <form method="post">
        {{ actionInput('database-translations/csv-import/review') }}
        <input type="hidden" name="sessionKey" value="{{ sessionKey }}">
        {{ csrfInput() }}
        <table class="table data field first fullwidth">
            <thead>
                <tr>
                    <th style="">Import column</th>
                    <th style="">Target</th>
                    <th style="width: 100%">Preview</th>
                </tr>
            </thead>
            <tbody>
                {% for key, column in header %}
                    {% set bestMatch = craft.databaseTranslations.bestMatch(column,fields) %}
                <tr>
                    <td>
                        <h3>{{ column }}</h3>
                    </td>
                    <td>
                        <div class="select">
                            <select name="columns[{{ key }}]" id="column-{{ key }}">
                                <option value="ignore">- ignore -</option>
                                {% for handle, name in fields %}
                                    <option value="{{ handle }}" {{ (old is defined and old[key] is defined and old[key] == handle) ? 'selected' : (old is not defined and handle == bestMatch) ? 'selected' : '' }}>
                                        {{ name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        {% for i in [0, 1, 2] %}
                            {% if rows|length > i and rows[i]|length > (key) %}
                                <p>{{ rows[i][key]|default('')|truncate(35) }}</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Review content" class="btn submit">
    </form>
{% endset %}
