{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{% set availableLocales = craft.app.i18n.siteLocales|map(locale => locale.id) %}

{{ forms.textField({
    label: "Plugin Name"|t('database-translations'),
    instructions: "Override the plugin name for use in the control panel."|t('database-translations'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    errors: settings.getErrors('pluginName')
}) }}

{{ forms.editableTableField({
    label: "Translation categories"|t('database-translations'),
    instructions: 'Enter the translation categories to process with this plugin.',
    name: "categories",
    id: "categories",
    cols: {
        'key': {
            type: 'singleline',
            heading: "Translation category"|t('database-translations'),
            rows: 1
        },
    },
    rows: settings.categories,
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
    addRowLabel: 'Add a category'|t('database-translations'),
    errors: settings.getErrors('categories'),
    required: true
})|spaceless }}

{{ forms.editableTableField({
    label: "Map source languages to other languages"|t('database-translations'),
    instructions: 'For example to use a site language as another site language or admin user interface language. Current available sources: ['~availableLocales|join(', ')~']',
    name: "mapLocales",
    id: "mapLocales",
    cols: {
        'source': {
            type: 'singleline',
            heading: "Source",
            rows: 1
        },
        'destination': {
            type: 'singleline',
            heading: "Destination",
            rows: 1
        },
    },
    rows: settings.mapLocales,
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
    addRowLabel: 'Add a mapping'|t('database-translations'),
    errors: settings.getErrors('mapLocales')
})|spaceless }}

<h2>Options</h2>

{{ forms.lightswitchField({
    label: "Trim spaces"|t("database-translations"),
    instructions: "Trim spaces at begin and ending of values when saved."|t("database-translations"),
    id: "trimValuesOnSave",
    name: "trimValuesOnSave",
    on: settings.trimValuesOnSave,
    errors: settings.getErrors("trimValuesOnSave"),
}) }}

<h2>Handle <a href="https://www.yiiframework.com/doc/api/2.0/yii-i18n-missingtranslationevent" target="_blank">missing translations</a></h2>

{{ forms.lightswitchField({
    label: "Add missing translations"|t("database-translations"),
    instructions: "Create new translations when missing translations occur."|t("database-translations"),
    id: "handleMissingTranslationEvent",
    name: "handleMissingTranslationEvent",
    on: settings.handleMissingTranslationEvent,
    errors: settings.getErrors("handleMissingTranslationEvent"),
}) }}

{{ forms.lightswitchField({
    label: "Only in devMode"|t("database-translations"),
    instructions: "Handle missing translations event only in devMode."|t("database-translations"),
    id: "handleMissingTranslationEventOnlyInDevMode",
    name: "handleMissingTranslationEventOnlyInDevMode",
    on: settings.handleMissingTranslationEventOnlyInDevMode,
    errors: settings.getErrors("handleMissingTranslationEventOnlyInDevMode"),
}) }}